.square {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

.font-md {
  font-size: 16px;
}


.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.white {
  color: white;
}

header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.m-0 {
  margin: 0;
}

a {
  color: skyblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.board {
  margin: 20px;
}
