/* Color */
.white {
  color: white;
}

.bg-black {
  background-color: black;
}

.bg-white {
  backgroiund-color: white;
}

.bg-dark {
  background-color: #F0D9B5;
}

.bg-light {
  background-color: #B58863;
}

.border-yellow {
  border: 2px solid yellow !important;
}

/* Links/Text */
a {
  color: skyblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.font-md {
  font-size: 16px;
}


/* Flex */
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

/* Grid */
.d-grid {
  display: grid;
}

.nav-grid {
  grid-template-columns: 225px auto 225px;
}

/* Utils */
.m-0 {
  margin: 0;
}

.m-2 {
  margin: 20px;
}

.p-2 {
  padding: 20px;
}

.vw-100 {
  width: 100vw;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

/* Components */
header {
  font-size: calc(10px + 2vmin);
}

.board {
  border: 1px solid black;
}

.square {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  border: 2px solid transparent;
}

.square img {
  width: 50px;
  height: 50px;
}

/* On Small Screens 600px or less */
@media only screen and (max-width: 600px) {
  .nav-grid {
    grid-template-columns: auto;
  }

  .hide-on-sm {
    display: none;
  }
}
